{
  "dashboard": {
    "templating": {
      "list": [
        {
          "name": "host",
          "current": {
            "value": "<%= graphite_identifier %>",
            "text": "<%= slug %>"
          },
          "query": "<%= graphite_identifier %>",
          "label": null,
          "type": "constant",
          "hide": 2,
          "options": [
            {
              "text": "<%= slug %>",
              "value": "<%= graphite_identifier %>"
            }
          ]
        }
      ]
    },
    "rows": [
      {
        "gridPos": { "x": 0, "y": 0, "w": 24, "h": 3 },
        "repeatRowId": null,
        "titleSize": "h6",
        "panels": [
          {
            "span": 12,
            "links": [],
            "mode": "html",
            "content": "<h3><center><a href=\"<%= tomcat_dashboard_url %>?var-Application=CMS\">Tomcat</a></center></h3>",
            "transparent": true,
            "type": "text",
            "id": 10,
            "title": ""
          }
        ],
        "showTitle": false,
        "title": "",
        "repeatIteration": null,
        "repeat": null,
        "collapse": false,
        "height": 42
      },
      {
        "gridPos": { "x": 0, "y": 3, "w": 24, "h": 3 },
        "height": "25px",
        "collapse": false,
        "editable": true,
        "title": "New row",
        "panels": [
          {
            "error": false,
            "links": [],
            "editable": true,
            "isNew": true,
            "content": "<h2><center>CMS</center></h2>",
            "type": "text",
            "id": 11,
            "transparent": true,
            "title": "",
            "span": 12,
            "mode": "html"
          }
        ]
      },
      {
        "gridPos": { "x": 0, "y": 6, "w": 24, "h": 5 },
        "collapse": false,
        "editable": true,
        "height": "150px",
        "panels": [
          {
            "timeFrom": null,
            "span": 12,
            "nullPointMode": "connected",
            "id": 12,
            "targets": [
              {
                "textEditor": false,
                "target": "alias(carbon-writer.$host.CMS.QueryPool.queries.max, 'queries max')",
                "refId": "A"
              },
              {
                "refId": "B",
                "textEditor": false,
                "target": "alias(carbon-writer.$host.CMS.QueryPool.queries.waiting, 'queries waiting')"
              },
              {
                "target": "alias(carbon-writer.$host.CMS.QueryPool.executors.idle, 'executors idle')",
                "textEditor": false,
                "refId": "C"
              },
              {
                "target": "alias(carbon-writer.$host.CMS.QueryPool.executors.running, 'executors running')",
                "textEditor": false,
                "refId": "D"
              }
            ],
            "title": "Query Pool",
            "points": false,
            "stack": false,
            "seriesOverrides": [],
            "type": "graph",
            "bars": false,
            "pointradius": 5,
            "error": false,
            "steppedLine": false,
            "tooltip": {
              "sort": 0,
              "msResolution": false,
              "value_type": "cumulative",
              "shared": true,
              "ordering": "alphabetical"
            },
            "aliasColors": {},
            "lines": true,
            "percentage": false,
            "timeShift": null,
            "grid": {
              "thresholdLine": false,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2Color": "rgba(234, 112, 112, 0.22)",
              "threshold1": null,
              "threshold2": null
            },
            "datasource": "graphite",
            "yaxes": [
              {
                "min": 0,
                "format": "none",
                "max": null,
                "show": true,
                "logBase": 1
              },
              {
                "format": "short",
                "min": 0,
                "max": null,
                "show": false,
                "logBase": 1
              }
            ],
            "editable": true,
            "isNew": true,
            "fill": 3,
            "links": [],
            "legend": {
              "total": false,
              "alignAsTable": true,
              "show": true,
              "current": true,
              "rightSide": true,
              "min": false,
              "avg": false,
              "max": false,
              "values": true
            },
            "xaxis": {
              "show": true
            },
            "renderer": "flot",
            "linewidth": 1,
            "decimals": 0
          }
        ],
        "title": "Query Pool"
      },
      {
        "gridPos": { "x": 0, "y": 11, "w": 24, "h": 5 },
        "panels": [
          {
            "linewidth": 1,
            "renderer": "flot",
            "xaxis": {
              "show": true
            },
            "legend": {
              "alignAsTable": true,
              "show": true,
              "total": false,
              "avg": false,
              "max": false,
              "values": true,
              "rightSide": true,
              "current": true,
              "min": false
            },
            "fill": 3,
            "links": [],
            "editable": true,
            "isNew": true,
            "yaxes": [
              {
                "format": "none",
                "min": 0,
                "max": null,
                "show": true,
                "logBase": 1
              },
              {
                "max": null,
                "show": true,
                "logBase": 1,
                "format": "short",
                "min": null
              }
            ],
            "datasource": "graphite",
            "grid": {
              "threshold2": null,
              "threshold1": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)",
              "threshold1Color": "rgba(216, 200, 27, 0.27)"
            },
            "timeShift": null,
            "lines": true,
            "percentage": false,
            "aliasColors": {},
            "tooltip": {
              "shared": true,
              "ordering": "alphabetical",
              "value_type": "cumulative",
              "msResolution": false,
              "sort": 0
            },
            "steppedLine": false,
            "pointradius": 5,
            "bars": false,
            "error": false,
            "type": "graph",
            "seriesOverrides": [],
            "stack": false,
            "points": false,
            "title": "Statistic Resource Cache",
            "targets": [
              {
                "refId": "A",
                "textEditor": false,
                "target": "aliasByMetric(perSecond(carbon-writer.$host.CMS.StatisticsResourceCache.cache.*))"
              }
            ],
            "nullPointMode": "connected",
            "id": 13,
            "span": 12,
            "timeFrom": null
          }
        ],
        "title": "Statistic Resource Cache",
        "collapse": false,
        "editable": true,
        "height": "200px"
      },
      {
        "gridPos": { "x": 0, "y": 16, "w": 24, "h": 4 },
        "title": "Statistic Jobresult",
        "panels": [
          {
            "lines": true,
            "percentage": false,
            "timeShift": null,
            "tooltip": {
              "msResolution": false,
              "sort": 0,
              "ordering": "alphabetical",
              "shared": true,
              "value_type": "cumulative"
            },
            "aliasColors": {},
            "yaxes": [
              {
                "max": null,
                "logBase": 1,
                "show": true,
                "format": "none",
                "min": null
              },
              {
                "format": "short",
                "min": 0,
                "logBase": 1,
                "show": true,
                "max": null
              }
            ],
            "grid": {
              "threshold1": null,
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)",
              "threshold1Color": "rgba(216, 200, 27, 0.27)"
            },
            "datasource": "graphite",
            "legend": {
              "show": true,
              "alignAsTable": true,
              "total": false,
              "values": true,
              "max": false,
              "avg": false,
              "min": false,
              "current": true,
              "rightSide": true
            },
            "isNew": true,
            "editable": true,
            "links": [],
            "fill": 3,
            "xaxis": {
              "show": true
            },
            "renderer": "flot",
            "linewidth": 1,
            "timeFrom": null,
            "span": 12,
            "targets": [
              {
                "target": "aliasByMetric(perSecond(carbon-writer.$host.CMS.StatisticsJobResult.*))",
                "textEditor": false,
                "refId": "A"
              }
            ],
            "title": "Statistic Jobresult",
            "nullPointMode": "connected",
            "id": 14,
            "type": "graph",
            "points": false,
            "stack": false,
            "seriesOverrides": [],
            "steppedLine": false,
            "error": false,
            "pointradius": 5,
            "bars": false
          }
        ],
        "height": "150px",
        "editable": true,
        "collapse": false
      },
      {
        "gridPos": { "x": 0, "y": 20, "w": 24, "h": 5 },
        "height": "200px",
        "collapse": false,
        "editable": true,
        "title": "Server Resource Cache",
        "panels": [
          {
            "aliasColors": {},
            "tooltip": {
              "msResolution": false,
              "sort": 0,
              "shared": true,
              "value_type": "cumulative"
            },
            "timeShift": null,
            "lines": true,
            "percentage": false,
            "datasource": "graphite",
            "grid": {
              "threshold2Color": "rgba(234, 112, 112, 0.22)",
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold1": null
            },
            "yaxes": [
              {
                "max": null,
                "show": true,
                "logBase": 1,
                "min": 0,
                "format": "none",
                "label": null
              },
              {
                "show": false,
                "logBase": 1,
                "max": null,
                "label": null,
                "format": "short",
                "min": null
              }
            ],
            "links": [],
            "fill": 3,
            "isNew": true,
            "editable": true,
            "legend": {
              "alignAsTable": true,
              "show": true,
              "total": false,
              "avg": false,
              "max": false,
              "values": true,
              "rightSide": true,
              "current": true,
              "min": false
            },
            "linewidth": 1,
            "xaxis": {
              "show": true
            },
            "renderer": "flot",
            "span": 12,
            "timeFrom": null,
            "nullPointMode": "connected",
            "id": 15,
            "title": "Server Resource Cache",
            "targets": [
              {
                "refId": "A",
                "target": "aliasByMetric(aliasSub(carbon-writer.$host.CMS.Server.ResourceCache.*, '(.*)-', ''))",
                "textEditor": false
              }
            ],
            "seriesOverrides": [],
            "stack": false,
            "points": false,
            "type": "graph",
            "bars": false,
            "pointradius": 5,
            "error": false,
            "steppedLine": false
          }
        ]
      }
    ],
    "tags": [
      "<%= short_hostname %>",
      "content-server"
    ],
    "uid": "<%= uuid %>",
    "style": "dark",
    "links": [],
    "editable": true,
    "time": {
      "to": "now",
      "from": "now-3h"
    },
    "refresh": "1m",
    "annotations": {
      "list": []
    },
    "timezone": "browser",
    "hideControls": false,
    "id": null,
    "title": "<%= slug %> - CMS",
    "version": 1,
    "sharedCrosshair": true,
    "timepicker": {
      "refresh_intervals": [
        "10s",
        "30s",
        "1m",
        "2m",
        "4m",
        "10m"
      ],
      "now": true,
      "time_options": [
        "5m",
        "15m",
        "1h",
        "6h",
        "12h",
        "24h",
        "2d",
        "7d",
        "30d"
      ]
    },
    "schemaVersion": 12
  }
}
